---
/**
 * * These are cards with a large number, and description below
 */

interface Props {
	largeText: string;
	description: string;
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { largeText, description, ...rest } = Astro.props as Props;
---

<div {...rest} class="flex flex-col gap-3 text-center">
	<h3 class="font-decorative text-primary-500 text-[8rem] leading-none">
		{largeText}
	</h3>

	<p class="description font-heading-1 pr-2 text-2xl">
		{description}
	</p>
</div>
