/* Markdown and MDX Styling for blog posts, using @tailwind/typography with `prose` */
.prose {
  /* emergency word break */
  @apply break-words;
  /* heading font sizes */
  @apply prose-h1:text-3xl md:prose-h1:text-4xl;
  @apply prose-h2:text-2xl md:prose-h2:text-3xl;
  @apply prose-h3:text-xl md:prose-h3:text-2xl;
  @apply prose-h4:text-lg md:prose-h4:text-xl;
  /* all headings */
  @apply prose-headings:mb-5 prose-headings:mt-7 prose-headings:font-heading-1 prose-headings:font-medium;
  /* paragraphs */
  @apply prose-p:my-2;
  /* code */
  @apply prose-code:rounded-md prose-code:border-2 prose-code:border-solid prose-code:border-zinc-300 prose-code:bg-zinc-200 prose-code:px-[.1rem] prose-code:font-normal prose-code:text-inherit sm:prose-code:text-base;
  /* code remove backticks */
  code::before {
    content: "";
  }
  code::after {
    content: "";
  }
  /* anchor links */
  @apply prose-a:text-primary-700 prose-a:underline prose-a:transition hover:prose-a:text-primary-800;
  /* images */
  @apply prose-img:mx-auto prose-img:h-auto prose-img:w-full prose-img:max-w-[800px] prose-img:rounded-none;
  /* video */
  @apply prose-video:mr-auto prose-video:min-w-0 prose-video:max-w-full;
  /* blockquote */
  @apply prose-blockquote:border-l-primary-700;
  /* horizontal rule */
  @apply prose-hr:my-8 prose-hr:border-base-300;
  /* table head */
  @apply prose-thead:border-b-base-500;
  /* table row */
  @apply prose-tr:border-b-base-300;
}

.prose h1:first-child,
.prose h2:first-child,
.prose h3:first-child,
.prose h4:first-child,
.prose h5:first-child,
.prose h6:first-child,
.prose p:first-child,
.prose a:first-child,
.prose code:first-child,
.prose blockquote:first-child,
.prose .astro-code:first-child {
  @apply mt-0;
}

.prose .astro-code code {
  @apply border-none bg-inherit;
}

/* youtube embed */
.prose iframe {
  @apply mr-auto min-w-0 max-w-full;
}
/* end blog post markdown styling */
