---
/**
 * * This is a section with four number cards that show some stats about the business.
 * You can update the data below to change the stats.
 */

// components
import FeatureCardNumbers from "@components/FeatureCard/FeatureCardNumbers.astro";

interface FeatureCardData {
	largeText: string;
	description: string;
}

// data
// NOTE: You still need to manually update the heading that come before the cards
const featureData: FeatureCardData[] = [
	{
		largeText: "20",
		description: `Years Experience`,
	},
	{
		largeText: "20K",
		description: `Photos Delivered`,
	},
	{
		largeText: "310",
		description: `Events Captured`,
	},
	{
		largeText: "22",
		description: `Locations`,
	},
];
---

<section id="feature-numbers" class="bg-base-100 scroll-mt-10 py-8 md:py-12">
	<div class="mx-auto max-w-6xl px-4">
		<div class="text-prety mr-auto text-center">
			<h2 class="h2">Capture your love story with an experienced, client centered photographer</h2>
		</div>

		<div
			id="feature-numbers-cards"
			class="mt-6 grid gap-10 gap-y-16 sm:grid-cols-2 md:mt-12 lg:grid-cols-4"
		>
			{
				featureData.map((feature, idx) => (
					<FeatureCardNumbers largeText={feature.largeText} description={feature.description} />
				))
			}
		</div>
	</div>
</section>
