---
import { Image } from "astro:assets";

// images
import logo from "@images/logo.png";
---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Home" class="">
 <Image
    src={logo}
    alt="Cosmic Themes logo"
    loading="eager"
    width={100}
    height={100}
    class="h-14 w-14"
  /> 
</a>
