---
import { Icon } from "astro-icon/components";

// components
import FooterLink from "./FooterLink.astro";
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";

// data
import siteData from "@config/siteData.json";

const today = new Date();
---

<footer class="bg-base-100/40 mt-12 flex flex-col items-center justify-center py-8">
	<div class="site-container">
		<!-- footer links -->
		<div
			class="flex flex-col md:flex-row w-full justify-center gap-2 text-lg items-center "
		>

				<FooterLink href="/">Home</FooterLink>
				<FooterLink href="/#portfolio">Portfolio</FooterLink>
			
				<FooterLink href="/#pricing">Pricing</FooterLink>
				<FooterLink href="/#contact">Contact</FooterLink>
		
		</div>

		<!-- lets connect -->
		<div class="description mx-auto mt-6 max-w-[40rem] px-4 text-center">
			<p>
			    Whether you need a website, want to collaborate, or just chat over a virtual coffee  ☕ —
      			I’d love to hear from you.
			</p>
		</div>

		<!-- socials -->
		 {/* 
		<div class="text-primary-500 mt-8 flex justify-center gap-4">
			<a href="https://x.com/BowTiedWebReapr" target="_blank" rel="noopener noreferrer">
				<Icon name="socials/mdi-facebook" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">Facebook</span>
			</a>
			<a href="https://x.com/BowTiedWebReapr" target="_blank" rel="noopener noreferrer">
				<Icon name="socials/mdi-twitter" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">Twitter</span>
			</a>
			<a href="https://x.com/BowTiedWebReapr" target="_blank" rel="noopener noreferrer">
				<Icon name="socials/mdi-youtube" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">Youtube</span>
			</a>
			<a href="https://x.com/BowTiedWebReapr" target="_blank" rel="noopener noreferrer">
				<Icon name="socials/basil-instagram-solid" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">Instagram</span>
			</a>
		</div>*/}

		<!-- copyright -->
		<div class="mt-4 mb-2 text-center text-sm opacity-80">
			&copy; {today.getFullYear()} made by <a
				href="https://cosmicthemes.com"
				class="hover:text-primary-600 transition"
				target="_blank"
				rel="noopener">Solange</a
			>
			<!-- {siteData.name}. All rights reserved. -->
		</div>
	</div>
</footer>
