---
import { Icon } from "astro-icon/components";
---

<div class="bg-base-100 mt-12 py-10 md:mt-16 md:py-16">
	<div class="mx-auto flex max-w-6xl items-start gap-2 px-4">
		<div>
			<Icon
				name="gridicons/quote"
				class="text-primary-200 size-8 -translate-y-4 md:size-20"
				aria-hidden="true"
			/>
		</div>
		<p class="h2 text-primary-600 text-center uppercase">
			Jenna's photography is a work of art and her professionalism is unmatched
		</p>
		<div>
			<Icon
				name="gridicons/quote"
				class="text-primary-200 size-8 -translate-y-4 -scale-x-100 md:size-20"
				aria-hidden="true"
			/>
		</div>
	</div>

	<div class="xs:grid-cols-2 mt-6 grid">
		<div class="col-start-2">
			<p class="h3 text-primary-600">- Vanessa, Bride</p>
		</div>
	</div>
</div>
