---
// data
import { type navLinkItem } from "@config/navData.json";

interface Props {
	navItem: navLinkItem;
	class?: string;
}

const { navItem, class: className } = Astro.props as Props;
const { text, link, newTab = false } = navItem;

// if the current page is the same as the link, we can change the styling
---

<li>
	<a
		class:list={[
			`nav__link--base flex w-full items-center ${className}`,
			{
				// styling for current active page link
				"": Astro.url.pathname === link,
			},
		]}
		href={link}
		target={newTab ? "_blank" : ""}
		rel={newTab ? "noopener noreferrer" : ""}
	>
		{text}
	</a>
</li>
