---
import { getCollection, render } from "astro:content";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Contact from "@components/Contact/Contact.astro";
import PortfolioGrid from "@components/Portfolio/PortfolioGrid.astro";
import TestimonialQuote from "@components/Testimonials/TestimonialQuote.astro";

const portfolios = await getCollection("portfolios", ({ data }) => {
	// filter out draft pages
	return data.draft !== true;
});
---

<BaseLayout title="Portfolios" description="Portfolio page for my projects and work.">
	<div class="scroll-animation site-container pt-24 md:pt-36">
		<div class="mx-auto max-w-6xl text-center">
			<h1 class="col h2 text-pretty uppercase">
				Real Projects, Real Results
				</h1>
			<p class="col mt-4 lg:text-lg mb-5">Browse a few of my recent projects! Each one was built with intention, creativity, and collaboration. Whether it’s a local event service, a home-based catering business, or a wellness brand — your site will look and feel like you.</p>
		</div>
		<PortfolioGrid portfolios={portfolios} />
	</div>



	<Contact class="mt-12" />
</BaseLayout>
