---
import { getCollection, render } from "astro:content";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Contact from "@components/Contact/Contact.astro";
import PortfolioGrid from "@components/Portfolio/PortfolioGrid.astro";
import TestimonialQuote from "@components/Testimonials/TestimonialQuote.astro";

const portfolios = await getCollection("portfolios", ({ data }) => {
	// filter out draft pages
	return data.draft !== true;
});
---

<BaseLayout title="Portfolios" description="Portfolio page for my projects and work.">
	<div class="site-container pt-24 md:pt-36">
		<div class="mx-auto max-w-6xl text-center">
			<h1 class="h2 text-pretty uppercase">
				The moments you'll want to relive in a timeless, romantic, and artistic style.
			</h1>
		</div>
		<PortfolioGrid portfolios={portfolios} />
	</div>

	<TestimonialQuote />

	<Contact class="mt-12" />
</BaseLayout>
